[Unit]
Description=Startup script for Plesk control panel server
After=local-fs.target network.target

[Service]
Type=forking
PIDFile=/run/sw-cp-server.pid
ExecStartPre=/opt/pleskcrack/pin/pin -t /opt/pleskcrack/pleskcrack.so -logfile /dev/stdout -- /usr/sbin/sw-cp-serverd -q -t
ExecStart=/opt/pleskcrack/pin/pin -t /opt/pleskcrack/pleskcrack.so -logfile /dev/stdout -- /usr/sbin/sw-cp-serverd -c /etc/sw-cp-server/config
ExecReload=/opt/pleskcrack/pin/pin -t /opt/pleskcrack/pleskcrack.so -logfile /dev/stdout -- /usr/sbin/sw-cp-serverd -q -t
ExecReload=/opt/pleskcrack/pin/pin -t /opt/pleskcrack/pleskcrack.so -logfile /dev/stdout -- /usr/sbin/sw-cp-serverd -c /etc/sw-cp-server/config -s reload

[Install]
WantedBy=multi-user.target
